<!DOCTYPE html>
<html>
<head>
    <title>View Passwords</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Password Manager</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view">View Dec Passwords</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view1">View Enc Passwords</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="mt-5">View Passwords</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for password in passwords %}
                    <tr>
                        <td>{{ password[0] }}</td>
                        <td>{{ password[1] }}</td>
                        <td>{{ generate_random_message(password[2]) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-success" href="/">Return to Main Page</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
